
<div class="ang">
      <div class="job-card">
        <div class="job-header">
            <br>
            <h1>Angular Developer</h1>
            <br>
            
            
        </div>
        <div class="job-details">
          
          <p><strong><b>Job Type:</b></strong>Part-Time</p>
            <br>
            <br>
            <p><strong><b>Experience:</b></strong>Fresher</p>
            <br>
            <br>
          
            <p><strong><b>Salary:</b></strong>&#8377;80000-90000</p>
            <br>
            <br>
            <p><strong><b>Location:</b></strong>Pune</p>
            <br>
            
            
        </div>
        <button class="apply-btn"><a routerLink="/upload" >Intrested?</a></button>
        <button class="apply-btn"><a routerLink="/tcs" >Back</a></button>
    </div>
    </div>