
<div class="apr">
<div class="container">
<h2>Approve/Reject Job Listings</h2>


<!-- Job Listings Table -->
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Job Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Software Developer</td>
            <td>Cognizant</td>
            <td>hyderabad</td>
         
            <td>
                <button class="btn btn-approve">Approve</button>
                <button class="btn btn-reject">Reject</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Python Developer
            </td>
            <td>Cognizant</td>
            <td>pune</td>
            
            <td>
                <button class="btn btn-approve">Approve</button>
                <button class="btn btn-reject">Reject</button>
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td>Web Developer
            </td>
            <td>Cognizant</td>
            <td>Mumbai</td>
            <td>
                <button class="btn btn-approve">Approve</button>
                <button class="btn btn-reject">Reject</button>
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>
<button class="btn btn-submit">submit</button>
</div>
</div>
