.view
{
    background-image: url('/vii.avif');
    background-repeat: no-repeat;
    background-size: cover;
     background-color: #f4f4f4;
     text-align: center;
     
     height:100vh;
     padding: 200px;
   
}