<div class="container-fluid mt-3">

    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
    
   
      
      <!-- The slideshow/carousel -->
     
      <div class="video-container">
        <video autoplay muted loop>
            <source src="/vido.mp4" type="video/mp4">
           
        </video>
        </div>

        <div class="video-overlay">
          <div>
             
              
          </div>
      </div>
      
        
      
    </div>

</div>

 
