<div class="tst">
      <div class="job-card">
        <div class="job-header">
            <br>
            <h1>Software Tester</h1>
            <br>
            
            
        </div>
        <div class="job-details">
          
          <p><strong><b>Job Type:</b></strong>Full-Time</p>
            <br>
            <br>
            <p><strong><b>Experience:</b></strong>Fresher</p>
            <br>
            <br>
          
            <p><strong><b>Salary:</b></strong>&#8377;50000-60000</p>
            <br>
            <br>
            <p><strong><b>Location:</b></strong>Mumbai</p>
            <br>
            
            
        </div>
        <button class="apply-btn"><a routerLink="/upload" >Intrested?</a></button>
        <button class="apply-btn"><a routerLink="/tcs" >Back</a></button>
    </div>
    </div>