    
  <div class="appl">  
<div class="container">
    <div class="header">Available Job Listings</div>

    <br>
    <br>
    
    
    <div class="job-container">
      
        <div class="job-card">
         
            <h3><img src="cog.jpg" alt="Logo" style="width:50px ;height: 50px;" class="rounded-pill"> Cognizant </h3>
            <p>Cognizant is a leading global professional services company
             that provides consulting, technology, and outsourcing services </p>
             <br>
             <a routerLink="/cognizant">
              <button style="display:flex; justify-content: center;align-items: center;">View Job</button>
            </a>
           
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="job-card">

            <h3><img src="cap.jpg" alt="Logo" style="width:50px ;height: 50px;" class="rounded-pill"> Capgemini</h3>
            <p>Capgemini is a global leader in consulting, technology services, 
            and digital transformation. Founded in 1967 by Serge Kampf in Grenoble, France</p>
            
            <a routerLink="/capgemini">
              <button style="display:flex; justify-content: center;align-items: center;">View Job</button>
         
            </a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div class="job-card">
            <h3><img src="inf.jpg" alt="Logo" style="width:50px ;height: 50px;" class="rounded-pill"> Infosys</h3>
            <p>Infosys is a global leader in consulting, technology, and outsourcing services, headquartered in Bengaluru, India.
            </p>
            <br>
            
            <a routerLink="/infosys">
              <button style="display:flex; justify-content: center;align-items: center;">View Job</button>
         
            </a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div class="job-card">
            <h3><img src="wip.png" alt="Logo" style="width:50px ;height: 50px;" class="rounded-pill"> Wipro</h3>
            <p> Wipro Limited is a global information technology, consulting, 
            and business process services company headquartered in Bangalore, India.</p>
            
            <a routerLink="/wipro">
              <button style="display:flex; justify-content: center;align-items: center;">View Job</button>
         
            </a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div class="job-card">
            <h3><img src="tata.png" alt="Logo" style="width:50px ;height: 50px;" class="rounded-pill"> TCS</h3>
            <p>Tata Consultancy Services (TCS) is a global leader in IT services,
             consulting, and business solutions. Headquartered in Mumbai, India</p>
             <br>
             <a routerLink="/tcs">
              <button style="display:flex; justify-content: center;align-items: center;">View Job</button>
         
            </a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div class="job-card">
            <h3><img src="accc.png" alt="Logo" style="width:50px ;height: 50px;" class="rounded-pill"> Accenture</h3>
            <p>Accenture is a global professional services company specializing in IT services, consulting, and digital transformation.
             It provides strategy, technology.</p>
            

             <a routerLink="/accenture">
              <button style="display:flex; justify-content: center;align-items: center;">View Job</button>
         
            </a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

       
    
    </div>
</div>
</div>
