


<div class="divc">
  <div class="signup-container">
    
  
  
    <h2><b>User Login</b></h2>
      <form (ngSubmit)="submitdata()" >
          <label for="username">Username</label>
          <input type="text"placeholder="Enter username" id="username" name="username" required name="email" [(ngModel)]="r.email">
          
         
  
  
          
          <label for="password">Password</label>
          <input type="password" placeholder="Password" id="password" name="password" required name="password" [(ngModel)]="r.password">
  
          <br>
  
  <br>
        
          
          <button type="submit">Login</button>
          <br>
          <br>
          
          <div class="links">
              <a routerLink="/forget">Forgot Password?</a>
          </div>
        </form>
  
      </div>
      
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
  