<div class="view">
<div class="container">
<h2>View Job Applications</h2>

<table>
    <tr>
        
        <th>company name</th>
        <th>Job Title</th>
       
        <th>Status</th>
       
    </tr>
    
    <tr>
        
        <td>Cognizant</td>
        <td>Software Developer</td>
       
        <td><span class="status status-pending">Pending</span></td>
        
    </tr>

    <tr>
        
        <td>Cognizant</td>
        <td>Graphic Designer</td>
       
        <td><span class="status status-pending">Pending</span></td>
       
    </tr>

</table>
</div>
</div>
