

<div class="full">
  <div class="job-card">
    <div class="job-header">
        <br>
        <h1>Full Stack Developer</h1>
        <br>
        
        
    </div>
    <div class="job-details">
      
      <p><strong><b>Job Type:</b></strong> Full-Time</p>
        <br>
        <br>
        <p><strong><b>Experience:</b></strong>Fresher</p>
        <br>
        <br>
      
        <p><strong><b>Salary:</b></strong>&#8377;60000-70000</p>
        <br>
        <br>
        <p><strong><b>Location:</b></strong>Mumbai</p>
        <br>
        
        
    </div>
    <button class="apply-btn"><a routerLink="/upload" >Intrested?</a></button>
    <button class="apply-btn"><a routerLink="/infosys">Back</a></button></div>
</div>
