<div class="we">
  <div class="job-card">
    <div class="job-header">
        <br>
        <h1>Web Developer</h1>
        <br>
        
        
    </div>
    <div class="job-details">
      
      <p><strong><b>Job Type:</b></strong> Part-Time</p>
        <br>
        <br>
        <p><strong><b>Experience:</b></strong>experienced</p>
        <br>
        <br>
      
        <p><strong><b>Salary:</b></strong>&#8377;40000-55000</p>
        <br>
        <br>
        <p><strong><b>Location:</b></strong>Mumbai</p>
        <br>
        
        
    </div>
    <button class="apply-btn"><a routerLink="/upload" >Intrested?</a></button>
    <button class="apply-btn"><a routerLink="/cognizant">Back</a></button>
</div>
</div>